td {
  border: 1px black solid;
  color: black;
  padding: 5px 20px;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #d3d3d3;
}
.transactionType::first-letter {
  text-transform: uppercase;
}